# Copyright (c) MONAI Consortium
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autofix_prs: true
  autoupdate_schedule: quarterly

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: check-added-large-files
    args: ['--maxkb=1024']
  - id: check-case-conflict
  - id: check-merge-conflict

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    name: isort (python)
    args: ["--line-length=120", "--profile=black"]

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    name: isort (python) (check)
    args: ["--line-length=120", "--profile=black", "--check"]

- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
    args: ["--line-length=120"]

- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
    name: black (check)
    args: ["--line-length=120", "--check"]

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    args: ["--count", "--statistics", "--config=setup.cfg"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.961
  hooks:
  - id: mypy
    exclude: (^tests/|^plugins/)
    additional_dependencies: [types-PyYAML,types-filelock,types-requests,types-docutils,types-cachetools]

- repo: https://github.com/asottile/pyupgrade
  rev: v2.34.0
  hooks:
  -   id: pyupgrade
      args: [--py37-plus]
