aiofiles==0.6.0
fastapi==0.65.2
monai[nibabel, skimage, pillow, tensorboard, gdown, ignite, torchvision, itk, tqdm, lmdb, psutil, openslide]==0.7.0rc1
pyyaml==5.4.1
python-multipart==0.0.5
requests-toolbelt==0.9.1
uvicorn==0.13.4
watchdog==2.0.2
pydantic==1.8.2
python-dotenv==0.17.1
filelock==3.0.12
httpx==0.18.2
dicomweb-client==0.52.0
pydicom==2.1.2
pydicom-seg==0.2.3
pynetdicom==1.5.7
expiringdict==1.2.1
https://github.com/masadcv/SimpleCRF/archive/refs/tags/v0.1.1.tar.gz#egg=simplecrf