# Full requirements for developments
-r requirements.txt
setuptools
pybind11
flake8
pytest
pytest-xdist
pytest-cov
flake8-bugbear
flake8-comprehensions
flake8-executable
flake8-pyi
mccabe
pep8-naming
pycodestyle
pyflakes
black
isort
pytype
mypy
ninja
parameterized
types-PyYAML
types-filelock
types-requests
click
testresources
pre-commit
