# Full requirements for developments
-r requirements.txt
setuptools
pybind11
flake8
pytest
flake8-bugbear
flake8-comprehensions
flake8-executable
flake8-pyi
mccabe
pep8-naming
pycodestyle
pyflakes
black
isort
pytype
mypy
ninja
coverage
parameterized
types-PyYAML
types-filelock
