# Copyright (c) MONAI Consortium
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

monai[nibabel, skimage, pillow, tensorboard, gdown, ignite, torchvision, itk, tqdm, lmdb, psutil, openslide, fire, mlflow]>=1.3.0
uvicorn==0.21.1
pydantic>=1.10.7,<=2.5.3
python-dotenv==1.0.0
fastapi==0.110.0
python-multipart==0.0.9
httpx==0.23.3
schedule==1.1.0
dicomweb-client==0.59.1
timeloop==1.0.2
expiringdict==1.2.2
expiring_dict==1.1.0
cachetools==5.3.0
watchdog==3.0.0
pydicom==2.3.1
pydicom-seg==0.4.1
pynetdicom==2.0.2
pynrrd==1.0.0
opencv-python-headless==4.7.0.72
numpymaxflow==0.0.6
girder-client==3.1.17
ninja==1.11.1
einops>=0.6.0
pyyaml==6.0
filelock==3.11.0
passlib==1.7.4
python-jose[cryptography]==3.3.0
bcrypt==4.0.1
shapely==2.0.1
requests
requests-toolbelt
scikit-learn
scipy

#sudo apt-get install openslide-tools -y
