# Full requirements for developments
-r requirements.txt
setuptools
pybind11
flake8
pytest
pytest-xdist
pytest-cov
flake8-bugbear
flake8-comprehensions
flake8-executable
flake8-pyi
mccabe
pep8-naming
pycodestyle
pyflakes
black
isort
pytype; sys_platform != 'win32'
mypy
parameterized
types-PyYAML
types-filelock
types-requests
types-cachetools
click>=8.1.3
testresources
pre-commit
