@import "BaseTab.styl"

.optionsTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: smaller;
}

.optionsTable td, th {
  border: 1px solid #dddddd;
  text-align: left;
}

.optionsInput
  width: 100%
