
.modelSelector
  .table
    border-collapse: collapse;
    border: 0 solid;
    width: 100%;

  .table tr td
    border: 0 solid;

  .selectBox
    width: 100%

  .actionButton
    border: 2px solid black
    border-radius: 15px
    background-color: lightblue
    color: var(--ui-gray-dark)
    line-height: 25px
    padding: 0 15px
    outline: none
    cursor: pointer

    &:hover, &:active
      background-color: var(--ui-sky-blue)

    &:disabled
      background-color: var(--ui-sky-blue)

    svg
      margin-right: 4px
      position: relative
      top: 2px
