name: weekly-preview

on:
  schedule:
    - cron: "0 2 * * 0"  # 02:00 of every Sunday
  workflow_dispatch:

jobs:
  packaging:
    if: github.repository == 'Project-MONAI/MONAILabel'
    runs-on: ubuntu-latest
    env:
      DEV_RELEASE_VERSION: 0.4
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
          fetch-depth: 0
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
      - name: Install setuptools
        run: |
          sudo apt-get install openslide-tools -y
          python -m pip install --user --upgrade setuptools wheel
      - name: Generate HEAD Commit Id
        run: |
          export HEAD_COMMIT_ID=$(git rev-parse HEAD)
          sed -i 's/name\ =\ monailabel$/name\ =\ monailabel-weekly/g' setup.cfg
          echo "__commit_id__ = \"$HEAD_COMMIT_ID\"" >> monailabel/__init__.py

          git config --global user.name "CI Builder"
          git config --global user.email "monai.contact@gmail.com"
          git diff setup.cfg monailabel/__init__.py
          git add setup.cfg monailabel/__init__.py
          git commit -m "Weekly build at $HEAD_COMMIT_ID"

          export YEAR_WEEK=$(date +'%y%U')
          echo "Year week for tag is ${YEAR_WEEK}"
          if ! [[ $YEAR_WEEK =~ ^[0-9]{4}$ ]] ; then echo "Wrong 'year week' format.  Should be 4 digits."; exit 1 ; fi
          git tag "$DEV_RELEASE_VERSION.dev${YEAR_WEEK}"
          git log -1
          git tag --list
          git describe --tags --dirty --always --long
      - name: Build distribution
        run: |
          python setup.py sdist bdist_wheel
      - name: Verify Package
        run: |
          tmp_dir=$(mktemp -d)
          cp dist/monailabel* "$tmp_dir"
          rm -r build monailabel*.egg-info

          # install from tar.gz
          python -m pip install "$tmp_dir"/monailabel*.tar.gz
          python -c 'import monailabel; monailabel.print_config()' 2>&1 | grep -iv "unknown"
          python -c 'import monailabel; print(monailabel.__file__)'
          python -m pip uninstall -y monailabel-weekly

          # install from wheel
          python -m pip install "$tmp_dir"/monailabel*.whl
          python -c 'import monailabel; monailabel.print_config()' 2>&1 | grep -iv "unknown"
          python -c 'import monailabel; print(monailabel.__file__)'

          # install test utilities
          python -m pip install pytest

          # start the monailabel server in the background and run the integration tests
          ./runtests.sh --net

          # cleanup
          python -m pip uninstall -y monailabel-weekly
          rm -r "$tmp_dir"
        env:
          shell: bash
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_WEEKLY_TOKEN }}
